@model GerenciamentoUsuarios.Models.Usuario

@{
    ViewData["Title"] = "Cadastrar";
}

<section class="cadastro">
    <div class="cadastro-imagem">
        <img src="" alt="Vetor de usuário">
    </div>
    <div class="cadastro-form">
        <h1>Cadastrar</h1>
        <form asp-action="Cadastrar">
            <div>
                <label asp-for="Nome">Nome</label>
                <input asp-for="Nome" type="text">
            </div>
            <div>
                <label asp-for="Senha">Senha</label>
                <input asp-for="Senha" type="password">
            </div>
            <div>
                <label asp-for="Admin">Admin</label>
                <input asp-for="Admin" type="checkbox">
            </div>
            
            <input type="submit" value="Criar">
        </form>
        <div>
            <p>Já possui uma conta? <a asp-controller="Usuario" asp-action="Index">Acesse aqui</a></p>
        </div>
    </div>
</section>
