@{
    ViewData["Title"] = "Cadastrar";
}

<section class="cadastro">
    <div class="cadastro-imagem">
        <img src="" alt="Vetor de usuário">
    </div>
    <div class="cadastro-form">
        <h1>Entrar</h1>
        <form asp-action="AutenticarUsuario">
            <label for=""></label>
            <input type="text">

            <label for=""></label>
            <input type="text">

            <input type="checkbox" name="">

            <input type="submit" value="Criar">
        </form>
        <div>
            <p>Já possui uma conta? <a asp-controller="#">Acesse aqui</a></p>
        </div>
    </div>
</section>
