@model GerenciamentoUsuarios.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<section class="cadastro">
    <div class="cadastro-imagem">
        <img src="" alt="Vetor de usuário">
    </div>
    <div class="cadastro-form">
        <h1>Entrar</h1>
        <form asp-action="Index">
            <div>
                <label asp-for="Nome">Nome</label>
                <input asp-for="Nome" type="text">
            </div>
            <div>
                <label asp-for="Senha">Senha</label>
                <input asp-for="Senha" type="password">
            </div>
            <input type="submit" value="Entrar">
        </form>
        <div>
            <p>Não possui uma conta ainda? <a asp-controller="Usuario" asp-action="Cadastrar">Crie aqui</a></p>
        </div>
    </div>
</section>
