@model List<GerenciamentoUsuarios.Models.Usuario>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Listagem</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GerenciamentoUsuarios.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/88cbac72fc.js" crossorigin="anonymous" defer></script>
</head>
<body>
    <section class="listagem">
        <a asp-action="Index"><i class="fa-solid fa-chevron-left"></i></a>

        <h1>Listagem de usuários</h1>

        <div class="listagemContainers">
            @foreach(Usuario usuario in Model)
            {
                <div class="listagemContainer">
                    <h3>@usuario.Nome</h3>
                    <p>Senha: @usuario.Senha</p>
                    <p>Administrador: @usuario.Admin</p>
                </div>
            }
        </div>
    </section>
</body>
</html>
